# Node dependencies
node_modules/

# Elastic Beanstalk local config
.elasticbeanstalk/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
